body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #e4e4e4;
}

.canvas-wrapper {
  position: relative;
  top: 20px;
}

#grid {
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 0.5px;
}

.grid-cell {
  border: 0.5px solid #b1b1b1;
  opacity: 0.5;
  box-sizing: border-box;
  text-align: center;
  font-size: 6px;
}

canvas {
  position: relative;
  border: 1px solid #a1a1a1;
  margin: 0 auto;
  display: block;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  position: relative;

  #fps-input {
    width: 60px;
  }

  button {
    margin: 0 5px;
    min-width: 80px;
  }
}

#params {
  width: 600px;
  margin: 20px auto;
  font-size: 14px;
}

#params > .slider-ctrl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

#params .range-val {
  font-family: 'Courier New', Courier, monospace;
  width: 30px;
}

#params .range-min {
  text-align: right;
}

#params .curr-val {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #ffffff;
  width: 60px;
}

#params .name {
  width: 20%;
  display: block;
}

#params input {
  width: 50%;
  cursor: pointer;
}
